<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Tracker</title>
</head>
<body>
{{#username}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>

<form action="/" method="get">
    <input type="text" username="search" placeholder="Search location"/>
    <button type="submit">Search</button>
</form>

<form action="/create-restaurant" method="post">
    <input type="text" username="username" placeholder="Name"/>
    <input type="text" username="location" placeholder="Location"/>
    <select username="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" username="comment" placeholder="Comment"/>
    <button type="submit">Submit Restaurant</button>
</form>
<br>
<br>
<ol>
    {{#restaurants}}
    <li><b>{{username}}</b> - {{location}} - {{rating}}/5 - {{comment}}
        <form action="/delete-restaurant" method="post" style="display: inline-block">
            <input type="hidden" username="id" value="{{id}}"/>
            <button type="submit">Delete Restaurant</button>
        </form>
    </li>
    {{/restaurants}}
</ol>
{{/username}}
</body>
</html>